Custom CSS styles
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
}

header {
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
}

section {
  margin-bottom: 40px;
}

ul {
  margin-top: 0;
  padding-left: 20px;
  color: #666;
}

footer {
  margin-top: auto;
  margin-bottom: 1px;
  font-size: 0.8rem;
  color: #999;
}
